{% load static %}

<!DOCTYPE html>
<html>
<head>
	<title>Younes Amraoui</title>
	<link href="{%static '/css/main.css'%}" rel="stylesheet" type="text/css" >
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	
</head>
<body>
	<div class="container">
	<div class="row">
		<div class="col-md-12">
			<div class="card card-body">
				<h1 align="center" class="card-title">Younes Amraoui's Portfolio</h1>
		</div>
		</div>
	</div>
	<br>
		<div class="row">
			<div class="col-md-4">
				<div class="card card-body card" id= "profile-wrapper"  h-100>
					<img id="profile-pic" src="{% static 'images/instasize_200311010010.png'%}">
					<hr>
					<h5>Hey there! I'm Younes</h5>
					<p>I love coding, statistics, and running!</p>
				</div>
			</div>
			<div class="col-md-8">
				<div class="card card-body h-100">
					<p>I recently graduated with a master's degree in applied statistics from the National Higher School of Statistics and Applied Economics of Kolea, Algeria.</p>
					<p>After receiving my degree, I was selected into SAP Young Professionals Program, an intensive 3 months-long training program that aims to provide youths with the right set of tools to help companies succeed in their digital transformation. This program offers training courses delivered by SAP expert trainers from around the world as well as diverse soft-skills workshops delivered by high performing training and development organisations from the United States and the United Kingdom.</p>
					<p>I have an interest in data science and I have always been intrigued by the underlying power of data and how the intersection of statistical methods and business knowledge can innovate wonders. It feels great to work on solving problems with data and end up influencing others.</p>
					<p> You can read more about me down below. Please feel free to connect!</p>
					<ul class="social-links">
						<li><img class="social" src="{% static 'images/Linkedin.png' %}"> linkedin.com/in/younesamraoui</li>
						<li><br></li>
						<li><br></li>
						<li><br></li>
						<li><br></li>
						<li><br></li>
						<li><img class="social" src="{% static 'images/Outlook.png' %}"> amraouiyounes@outlook.com</li>
					</ul>
				</div>
			</div>
		</div>
		<br>
		<div class="row">
			<div class="col-md-12">
				<div class="card card-body">
					<h4>Work Experience</h4>
					<hr>
					
			</div>
			</div>
		</div>
	</div>

</body>
</html>>